:root{
	--fsize : 30px;
}

.LeftPanel
{
	font-size: var(--fsize);
	background: grey;
	position: absolute;
	top: 0em;
	bottom: 0em;
	left: 0em;
	right: 50em;
}

.LeftPanelHeader
{
	font-size: var(--fsize);
	background: darkgrey;
	position: absolute;
	top:0em;
	left: 0em;
	right: 0em;
	bottom: 31em;
}
.LeftPanelBottom
{
	font-size: var(--fsize);
	background: red;
	position: absolute;
	top:32em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	transition: background .1s;
}

.LeftPanelChanel
{
	font-size: var(--fsize);
	background: blue;
	position: absolute;
	top:2.64em;
	left: 0em;
	right: 0em;
	bottom: 1.65em;
	color: yellow;
	overflow-y: hidden;

}

.LeftPanelBottomTextarea
{
	font-size: 17px;
	background: rgba(255,255,255,1);
	color: black;
	resize: none;
	overflow: hidden;
	outline: none;
	position: absolute;
	left: 0.5em;
	bottom: 0.7em;
	width: 23em;
	border: 0em;
	border-radius: 0.2em;
}

.logo
{
	position: absolute;
	top:0.4em;
	left: 0em;
	height: 2em;
	width: 2em;
}
