:root{
	--fsize : 30px;
}

.LeftPanel
{
	font-size: var(--fsize);
	background: orange;
	position: absolute;
	top: 0em;
	bottom: 0em;
	left: 0em;
	width: 10em;
}

.LeftPanelHeader
{
	font-size: var(--fsize);
	background: darkgrey;
	position: static;
	height: 2.8em;
}

.LeftPanelChannels
{
	font-size: var(--fsize);
	background: blue;
	color: yellow;
	position: static;
	/*bottom: 3em;*/
	overflow-y: hidden;
}

.LeftPanelBottom
{
	font-size: var(--fsize);
	background: red;
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 0em;
	height: 3em;
	/*transition: background .1s;*/
}


.LeftPanelBottomTextarea
{
	font-size: 17px;
	background: rgba(255,255,255,1);
	color: black;
	resize: none;
	overflow: hidden;
	outline: none;
	position: absolute;
	left: 0.65em;
	bottom: 0.7em;

	width: 16em;  /**/
	border: 0em;
	border-radius: 0.2em;
}

.logo
{
	position: absolute;
	top:0.4em;
	left: 0em;
	height: 2em;
	width: 2em;
}
