.InputField{
	top: 800px;
	bottom: 50px;
	left: 50px;
	right: 200px;
	max-width: 700px;
	min-width: 880px;

	background: white;
	position: absolute;
	border		: 1px solid #888;
	outline: none;
	resize: none;
	overflow-y: hidden ;
	border: 1px solid#000;
	border-radius: 10px;
	font-size: 20px;
	font-stretch:ultra-condensed;
}
.bar{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textField{
	text-align: left;
	border: 1px solid#000;
	border-radius: 10px;
	/*height: 400px;
	width: 667px;*/
	color: black;
	background: white;
	position: absolute;;
	top: 50px;
	bottom: 250px;
	right: 500px;
	left: 50px;
	outline: none;
	resize: none;
	font-size: 15px;
	font-stretch:ultra-condensed;
	overflow-y: auto;
}

.messege{
	border: 0px solid#000;
	font-size: 23px;
	text-align:left;
	word-break: break-all;
	margin: 3%;
	margin-top: 1%; 


}