@import url('../GlobalVariables.css');

.MiddlePanel
{
    position: absolute;
    left: var(--LeftPanelWidth);
    right: var(--RightPanelWidth);
    height: 100%;

    font-size: var(--fsize);
    background-color: orange;
}

.MiddlePanelHeader
{
    position: absolute;
    top: 0;
    height: var(--MiddlePanelHeaderHeight);
    width: 100%;

    background-color: green;
}

.MiddlePanelBottom
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 130px;
    height: var(--MiddlePanelBottomHeight);
    background-color: darkgrey;
}

.MiddlePanelBottomTextrea
{
    position: absolute;
    font-size: 23px;
    left: 0.5em;
    color: black;
    resize: none;
    overflow-y: scroll ;
    outline: none;
    bottom: -0.5em;
    border: 0;
    border-radius: 0.2em;
    margin: 1em;
    width: calc(100% - 5em);
}

.MiddlePanelBottomPlain
{
    position: absolute;
    top:0.3em;
    right: 0.7em;
    height: 1.1em;
}

.MiddlePanelChat
{
    position: absolute;
    top: var(--MiddlePanelHeaderHeight);
    left: 0;
    width: 100%;
    min-height: 50px;

    background-color: lightgreen;
}

.Message
{
    position: relative;
    margin: var(--MessageMargin);

    background-color: lightgrey;
}

.MessageHeader
{
    position: relative;
    height: var(--MessageHeaderHeight);

    background-color: purple;
}

.MessageAvatar
{
    position: absolute;
    top: var(--MessageAvatarSpaceTopOrLeft);
    left: var(--MessageAvatarSpaceTopOrLeft);
    height: var(--MessageAvatarHeight);
    width: var(--MessageAvatarHeight);

    border: 0;
    border-radius: calc( var(--MessageAvatarHeight) / 2 );
}

.MessageUserName
{
    position: absolute;
    left: var(--MessageUserNameSpaceLeft);
    top: 0;
    
    display: block;
    margin: 0;
    padding: 0;
}
.MessageTime
{
    position: absolute;
    left: var(--MessageUserNameSpaceLeft);
    top: 1em;
    
    display: block;
    margin: 0;
    padding: 0;
}