@import url('./GlobalVariablesMax.css');

:root{

/*
Здесь переменные, значения которых задаются произвольно. Менять их более-менее безопасно.
===============================================================================================
*/
    --fsize : 30px;
    
    --LeftPanelWidth: 400px;
    --LeftPanelHeaderHeight: 72px;
    --LeftPanelBottomHeight: 50px;

    --MiddlePanelHeaderHeight: var(--LeftPanelHeaderHeight);
    --MiddlePanelBottomHeight: 50px;

    --MessageMargin: 30px;
    --MessageAvatarHeight: calc( var(--MessageHeaderHeight) / 1.25);

    --RightPanelWidth: 400px;

    --MessageUserNameFontSize: 24px;
    --MessageTimeFontSize: calc( var(--MessageUserNameFontSize) * 0.85 );
    --MessageTimeSpaceTop: calc( var(--MessageUserNameFontSize) * 1.25 );


/*
Ниже этой черты идут зависимые переменные, отвечающие за пропорции в разметке. Хорошо подумайте, прежде чем их менять. 
=================================================================================================================================
*/

    /* 
        место слева и сверху от аватарки 
        left: var(--AvatarSpaceTopOrLeft); 
        top: var(--AvatarSpaceTopOrLeft); 
    */
    --MessageAvatarSpaceTopOrLeft: calc( ( var(--MessageHeaderHeight) - var(--MessageAvatarHeight) ) / 2); 

    /* SpaceLeft == пространство слева */
    --MessageUserNameSpaceLeft: calc( var(--MessageAvatarHeight) + var(--MessageAvatarSpaceTopOrLeft) * 4 ) ;


    --MessageHeaderHeight: calc( ( var(--MessageUserNameFontSize) + var(--MessageTimeFontSize) ) * 1.4 );
}
