:root{
    --fsize : 30px;
    
    --LeftPanelWidth: 400px;
    --LeftPanelHeaderHeight: 72px;
    --LeftPanelBottomHeight: 50px;

    --MiddlePanelHeaderHeight: var(--LeftPanelHeaderHeight);
    --MiddlePanelBottomHeight: 80px;

    --MessageMargin: 30px;
    --MessageHeaderHeight: calc( ( var(--MessageUserNameFontSize) + var(--MessageTimeFontSize) ) * 1.4 );
    --MessageAvatarHeight: calc( var(--MessageHeaderHeight) / 1.25);

    /* 
        место слева и сверху от аватарки 
        left: var(--AvatarSpaceTopOrLeft); 
        top: var(--AvatarSpaceTopOrLeft); 
    */
    --MessageAvatarSpaceTopOrLeft: calc( ( var(--MessageHeaderHeight) - var(--MessageAvatarHeight) ) / 2); 

    /* SpaceLeft == пространство слева */
    --MessageUserNameSpaceLeft: calc( var(--MessageAvatarHeight) + var(--MessageAvatarSpaceTopOrLeft) * 4 ) ;

    --MessageUserNameFontSize: 24px;
    --MessageTimeFontSize: calc( var(--MessageUserNameFontSize) * 0.85 );


    /*--MessageTimeSpaceTop: 1em;*/
    --MessageTimeSpaceTop: calc( var(--MessageUserNameFontSize) * 1.25 );

    --RightPanelWidth: 400px;
}
